/**
 * Rotate Tool Player Styles
 *
 * Author Matus Laco, http://www.yofla.com/3d-rotate/
 *
 * For player version 2.0.9 and above
 *
 * @updated 2016-09-14
 *
 */

div.rotate-tool-instance{
}


div.rotate-tool-button
{
    width: 22px;
    height: 22px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 44px 22px;
}

div.rotate-tool-button:hover
{
    background-position: -22px;
}

div.rotate-tool-button-start{
	margin-left: 38%;
    top: 40%;
    width: 120px;
    height: 60px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 240px 60px;
    background-image: url(button-start.png);
}
div.rotate-tool-button.rotate-tool-button-start:hover
{
    background-position: -120px;
}


div.rotate-tool-button-play{
    left: 5px;
    bottom: 5px;
    background-image: url(button-play.png);
}

div.rotate-tool-button-left{
    left: 32px;
    bottom: 5px;
    background-image: url(button-left.png);
}

div.rotate-tool-button-right{
    left: 59px;
    bottom: 5px;
    background-image: url(button-right.png);
}

div.rotate-tool-button-up{
    left: 86px;
    bottom: 5px;
    background-image: url(button-up.png);
}

div.rotate-tool-button-down{
    left: 113px;
    bottom: 5px;
    background-image: url(button-down.png);
}

div.rotate-tool-button-zoom-in{
    left: 143px;
    bottom: 5px;
    background-image: url(button-zoom-in.png);
}

div.rotate-tool-button-zoom-out{
    left: 170px;
    bottom: 5px;
    background-image: url(button-zoom-out.png);
}

div.rotate-tool-button-fullscreen{
    right: 5px;
    bottom: 5px;
    background-image: url(button-fullscreen.png);
}


div.rotate-tool-button-fullscreen{
    right: 5px;
    bottom: 5px;
    background-image: url(button-fullscreen.png);
}

div.rotate-tool-zoomslider{
    width: 110px;
    height: 22px;
    left: 197px;
    bottom: 5px;
    background-image: url(zoomslider-bar.png);
    background-repeat: no-repeat;
}

div.rotate-tool-zoomslider-handle{
    width: 13px;
    height: 22px;
    left: 0px;
    bottom: 0px;
    background-image: url(zoomslider-handle.png);
    background-repeat: no-repeat;
    background-size: 26px 22px;
}

div.rotate-tool-button-toggle-rotate{
    left: 314px;
    bottom: 5px;
    background-image: url(button-rotate.png);
}

div.rotate-tool-button-toggle-pan{
    left: 341px;
    bottom: 5px;
    background-image: url(button-pan.png);
}


div.rotate-tool-zoomslider-handle:hover{
    background-position: -13px;
}


div.rotate-tool-hotspot-default{
    width: 22px;
    height: 22px;
    border-radius: 14px;
    border: 2px solid white;
    opacity: 0.75;
    filter: Alpha(Opacity=75);
    background-color: deepskyblue;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAAMElEQVRIx2NgGAWDAvz//3/mfwTYPWrwIDUYqDHtP+lg5qjBxBs8mtyGmcGjgCIAAG/Yc/D2udsVAAAAAElFTkSuQmCC);
}

/**
 * The wrapper div for the Image Title for the Image Hotspot
 */
div.rotate-tool-image-hotspot-title{
	background-color : #000000;
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding : 10px;
	opacity : 0.75;
}

/**
 * The Title of the Image Hotspot is written inside of this div.
 */
div.rotate-tool-image-hotspot-title-inner{
	font-family : sans-serif;
	color : white;
	font-size : 18px;
	text-align : left;
}


/**
 * Button for closing (a video) hotspot : wrapper
 */

div.rotate-tool-close-hotspot-button-wrapper{
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border: 1px solid white;
	background-color:red;
	opacity: 0.5;
	cursor: pointer;
}

div.rotate-tool-close-hotspot-button-wrapper:hover{
	opacity: 0.75;
}

/**
 * Button for closing (a video) hotspot : content
 */
div.rotate-tool-close-hotspot-button-content{
	padding-top: 2px;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
	width: 100%;
	height: 100%;
	color: white;
}


/**
 * Iframe hotspot iframe styles
 */
iframe.rotate-tool-iframe{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}


/**
 * Second Preloader for hi-res images BEGIN
 */
div.rotate-tool-largeimages-preloader{
	background-color: rgb(255, 255, 255);
	height: 10px;
	width: 100%;
	position: relative;
	top: 0px;
	opacity: 0.5;
	visibility: hidden;
}

div.rotate-tool-instance.in-fullscreen div.rotate-tool-largeimages-preloader{
	visibility: visible;
}

@keyframes hidelargeimagespreloader{
	0% {}
	100% {opacity: 0; display: none;}
}

div.rotate-tool-largeimages-preloader.loaded{
	animation-name: hidelargeimagespreloader;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}


div.rotate-tool-largeimages-preloader-inner-bar{
	background-color: black;
	height: 100%;
	width: 1%;

	
}
element.style {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 15px;
	line-height: 15px;
	cursor: pointer;
	border: 0px;
	background-color: rgb(0 0 0 / 0%);
	z-index: 900;
	color: rgb(255, 255, 255);
	font-family: sans-serif;
	font-weight: normal;
	font-size: 10px;
	padding-left: 5px;
	text-align: left;
}
/**
 * Second Preloader for hi-res images END
 */



@media screen and (max-width: 380px) {
	div.rotate-tool-button-right{
		left: 53px;
	}

	div.rotate-tool-button-zoom-in{
		left: 80px;
	}

	div.rotate-tool-button-zoom-out{
		left: 101px;
	}

	div.rotate-tool-zoomslider{
		left: 130px;
	}

	div.rotate-tool-button-toggle-rotate{
		right: 5px;
		bottom: 54px;
		left: auto;
	}

	div.rotate-tool-button-toggle-pan{
		right: 5px;
		bottom: 33px;
		left: auto;
	}


}

